.login-navbar {
	padding: 0rem 2rem;
}

.login-logo {
	width: 2.5rem;
	height: 2.25rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.first-login-page-container {
    width: 90%;
    max-width: 500px;
    margin: 5vh auto;
    padding: 2rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px #33adbb;
    box-sizing: border-box;
  }

.first-login-page-form {
    display: flex;
    flex-direction: column;
}

.first-login-page-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}

.first-login-page-form-group {
    margin-bottom: 15px;
}

.first-login-page-label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.first-login-page-input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.first-login-page-button {
    padding: 10px;
    background-color: #33adbb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.first-login-page-button:hover {
    background-color: #05863f;
}

.login-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    background-color: #33adbb;
    color: #fff;
}

.navbar-logo h1 {
    font-size: 1.5rem;
    color: #fff;
}

.password-input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.password-toggle-button {
    position: absolute;
    right: 10px;
    padding: 0 8px;
    background: none;
    border: none;
    color: #33adbb;
    font-size: 14px;
    cursor: pointer;
}

.password-toggle-button:hover {
    color: #05863f;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
html, body {
    height: 100%;
}

@media (max-width: 480px) {
  .first-login-page-title {
    font-size: 1.25rem;
  }

  .first-login-page-button {
    font-size: 1rem;
  }

  .password-toggle-button {
    font-size: 0.9rem;
  }
}

.loading-div {
	text-align: center;
}
