#login-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 2rem;
	background-color: #33adbb;
	color: #fff;
}

#navbar-logo {
	width: 2.5rem;
	height: 2.25rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#password-input {
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	flex: 1;
}

#password-input-container {
	display: flex;
	align-items: center;
	position: relative;
}

#password-toggle-button {
	position: absolute;
	right: 10px;
	padding: 0 8px;
	background: none;
	border: none;
	color: #33adbb;
	font-size: 14px;
	cursor: pointer;
}

#password-toggle-button:hover {
	color: #05863f;
}

#loading {
	text-align: center;
}