.first-login-page-container {
  width: 500px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px #33adbb;  
}

.first-login-page-form {
  display: flex;
  flex-direction: column;
}

.first-login-page-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
}

.first-login-page-form-group {
  margin-bottom: 15px;
}

.first-login-page-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.first-login-page-input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.first-login-page-button {
  padding: 10px;
  background-color: #33adbb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.first-login-page-button:hover {
  background-color: #05863f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #33adbb;
  color: #fff;
}

.navbar-logo h1 {
  font-size: 1.5rem;
  color: #fff;
}

.password-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-toggle-button {
  position: absolute;
  right: 10px;
  padding: 0 8px;
  background: none;
  border: none;
  color: #33adbb;
  font-size: 14px;
  cursor: pointer;
}

.password-toggle-button:hover {
  color: #05863f;
}