/*!* src/components/InputForm.css *!*/

.input-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	gap: 20px;
}

.input-form {
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 12px;
	width: 290px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



.input-form label {
	display: block;
	margin-bottom: 10px;
	color: #555;
}

.input-form input,
.input-form select,
.input-form textarea {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	border-radius: 8px;
}

/*.form-buttons {*/
/*	display: flex;*/
/*	flex-direction: row;*/
/*	gap: 10px;*/
/*}*/

/*.edit-profile-form button {*/
/*	width: 100%;*/
/*	padding: 10px;*/
/*	background-color: #33adbb;*/
/*	color: #fff;*/
/*	border: none;*/
/*	border-radius: 8px;*/
/*	cursor: pointer;*/
/*	font-size: 16px;*/
/*}*/


/*.input-form-container {*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*	align-items: center;*/
/*	padding: 20px;*/
/*	gap: 20px;*/
/*}*/

/*.input-form {*/
/*	background-color: #f5f5f5;*/
/*	padding: 20px;*/
/*	border-radius: 12px;*/
/*	width: 290px;*/
/*	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);*/

/*	label {*/
/*		display: block;*/
/*		margin-bottom: 10px;*/
/*		color: #555;*/
/*	}*/

/*	input, select, textarea {*/
/*		font-size: 14px;*/
/*		width: 100%;*/
/*		padding: 8px;*/
/*		margin-top: 5px;*/
/*		margin-bottom: 15px;*/
/*		border: 1px solid #ddd;*/
/*		border-radius: 8px;*/
/*	}*/
/*}*/

.num-recurrences {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: baseline;
	color: #555;

	input {
		width: 50px;
		height: 23px;
	}
}

.submit-button {
	width: 100%;
	padding: 10px;
	background-color: #33adbb;
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
}

.form-buttons-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

/*!*.availability-header {*!*/
/*!*	background-color: #33adbb;*!*/
/*!*	color: #fff;*!*/
/*!*	padding: 15px 20px;*!*/
/*!*	border-radius: 12px;*!*/
/*!*	width: 20%;*!*/
/*!*	text-align: center;*!*/
/*!*	font-size: 18px;*!*/
/*!*	font-weight: bold;*!*/
/*!*	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);*!*/
/*!*}*!*/



/*!*.availability-form h3 {*!*/
/*!*	text-align: center;*!*/
/*!*	margin-bottom: 20px;*!*/
/*!*	color: #333;*!*/
/*!*}*!*/

/*!*.availability-form label {*!*/
/*!*	display: block;*!*/
/*!*	margin-bottom: 10px;*!*/
/*!*	color: #555;*!*/
/*!*}*!*/

/*!*.availability-form input,*!*/
/*!*.availability-form select {*!*/
/*!*	width: 100%;*!*/
/*!*	padding: 8px;*!*/
/*!*	margin-top: 5px;*!*/
/*!*	margin-bottom: 15px;*!*/
/*!*	border: 1px solid #ddd;*!*/
/*!*	border-radius: 8px;*!*/
/*!*}*!*/

/*!*.availability-form button {*!*/
/*!*	width: 100%;*!*/
/*!*	padding: 10px;*!*/
/*!*	background-color: #33adbb;*!*/
/*!*	color: #fff;*!*/
/*!*	border: none;*!*/
/*!*	border-radius: 8px;*!*/
/*!*	cursor: pointer;*!*/
/*!*	font-size: 16px;*!*/
/*!*}*!*/

/*!*.availability-form button:hover {*!*/
/*!*	background-color: #2a94a3;*!*/
/*!*}*!*/

/*!*#caregiver-name {*!*/
/*!*	background-color: #eee;*!*/
/*!*}*!*/