/* src/pages/scheduler/components/DateCarousel.css */

.find-caregiver-date-carousel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
  }
  
  .find-caregiver-date-carousel button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .find-caregiver-date-carousel button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .find-caregiver-date-list-wrapper {
    overflow: hidden;
    width: 1400px;
  }
  
  .find-caregiver-date-list {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .find-caregiver-date-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    min-height: 60px; 
    padding: 10px;
    background-color: lightblue;
    cursor: pointer;
    text-align: center;
    min-width: 200px;
    font-size: 0.9em;
    border: 1px solid white;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }
  
  .find-caregiver-date-item:hover {
    background-color: #ddd;
  }
  
  .find-caregiver-day {
    font-weight: bold;
    font-size: 1.4em;
  }
  
  .find-caregiver-actual-date {
    align-self: flex-end;
    width: 100%;
  }

.find-caregiver-date-item.selected {
    background-color: gray;
    color: white;
  }
  