#caregiver-name {
	background-color: #eee;
}


#num-recurrences {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: baseline;

}

#num-recurrences input {
	width: 50px;
}

#submit-button {
	width: 100%;
}