/* /src/App.cs */
/* Reset the margin and padding for the entire page */
body, html {
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Prevents vertical scrollbar across the whole page */
	overflow-x: hidden;
}

* {
	font-family: sans-serif;
}

h1 {
	font-size: 40px;
}