#no-availability {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	label {
		padding: 5px;
	}
}

#availability-list {
    list-style-type: none;
    display: inline-block;
}

#availability-card {
	/*width:100*/
	/*margin: 0;*/
	text-align: left;
	width: 330px;
	/*!*!*width: auto;*!*!*/
	font-size: 20px;

	span {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

#date-info {
    /*padding: 10px;*/
}

#delete-icon {
    width: 55px;
    height: 55px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#delete-icon:hover {
    background-color: #ddd;
    border-radius: 4px;
}